.login-form input{
    width: 100%;
    margin-top: 13px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid gray;
    border-radius: 5px;
}
.login-submit-btn{
    background-color: rgb(58, 43, 43);
    cursor: pointer;
}

.create-btn{
    border: none;
    background-color: white;
    color: blue;
    font-weight: bold;
}
.create-btn:hover{
    text-decoration: underline;
}

.box{
    box-shadow: 1px 1px 15px gray;
}
